@tailwind base;
@tailwind components;
@tailwind utilities;
.fade-up {
    opacity: 0;
    transform: translateY(12px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}